   @import url("https://use.typekit.net/rky1oyp.css");

*{
	margin:0;
	padding: 0;
}

html, body{

}

body{
	width: 100%;
	margin:0 auto;
}

header{
	background: #f5f5f5;
	width:100%;
	z-index: 2;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo{
	padding: 10px 0;
	height: 100px;
	width: 120px;
	margin-left: 15px;
}

.nav{
	float: right;
	margin-left: 10px;
	margin-top: 50px;
}

.nav ul{
	margin-right: 35px;
	padding: 0;
	list-style: none;
}

.nav li{
	display: inline-block;
	margin-left: 15px;
	padding-top: 25px;
}

.nav a{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
}

.nav a:hover{
	color: #deafa7;
	text-decoration: underline;
}

.nav a:active{
	color: #deafa7;
	text-decoration: underline;
}

@media only screen and(max-width: 812px){
	body{
		width: 100%
	}
	header{
		width:100%;
	}

	.nav li{
		width: 100%;
		display: inline-block;
	}
	.main{
		width: 100%;
	}
	.main img{
		width: 100%;
	}
	.main h1{
		width: 100%;
		font-size: 36px;
		text-align: center;
		color: #000;
	}
	.cake-container{
		width: 100%
	}

	.cookie-container{
		width: 100%
	}
	.pie-container{
		width: 100%
	}
}

.main{
	width: 100%;
}

.main img{
	margin-top: 5px;
}


.main h1{
	font-size: 50px;
	letter-spacing: 4px;
	text-align: center;
	position: relative;
	bottom: 400px;
	width: 100%;
	color: #fff;
}

.main p{
	font-size: 30px;
	letter-spacing: 8px;
	text-align: center;
	position: relative;
	bottom: 400px;
	width: 100%;
	color: #fff;
}

.btn{
	background-color: #fff;
	color: #deafa7;
	font-size: 20px;
	font-weight: 400;
	width: 240px;
	padding: 10px 10px;
	border: 2px solid #deafa7;
	letter-spacing: 5px;
	margin-top: 10px;
	position: relative;
    left: 550px;
    bottom: 400px;
}

.btn:hover{
	background-color: #deafa7;
	color: #fff;
	width: 240px;
	border: 2px solid #deafa7;
}

.section2{
	background-color: #fff;
	width: 100%;
}

h2{
	font-size: 30px;
	font-family: "fenway-park-jf",sans-serif!important;
	text-align: center;
	padding-top: 5px;
	text-transform: none;
	letter-spacing: 4px;
	margin-top: 15px;
	padding-top: 25px;
}

h3{
	font-size: 20px;
	font-family: "fenway-park-jf",sans-serif!important;
	text-align: center;
	padding-top: 5px;
	text-transform: none;
	letter-spacing: 2px;
	margin-top: 15px;
	padding-top: 25px;
}
.info{
	font-size: 20px;
	color: #deafa7;
	text-align: center;
	letter-spacing: 4px;
	align-content: center;
	padding-top: 25px;
	margin-top: 25px;
}

.section3{
	width: 100%;
	margin:0 auto;
}

h4{
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 15px;
	margin-left: -25px;
	padding-top: 5px;
}

.btn-shop{
	background-color: #deafa7;
	color: #fff;
	font-size: 20px;
	width: 240px;
	padding: 5px 5px;
	letter-spacing: 5px;
	margin-top: 10px;
	position: relative;
	bottom: 30px;
	left: 0px;
}

.btn-shop:hover{
	color: #fff;
	background-color: #cad8c5;
	text-decoration: none;
}

.cake-bg{
	height: 400px;
}

.cake-bg img{
	height: 400px;
	width:100%;
	padding-top: 5px;
}

.cookie-bg{
	height: 400px;
}

.cookie-bg img{
	height: 400px;
	width:100%;
	padding-top: 5px;
}

.pie-bg{
	height: 400px;
}

.pie-bg img{
	height: 400px;
	width:100%;
	padding-top: 5px;
}

/*All Pastry Pages*/
.pastry-container{
	width: 100%;
	padding-top: 60px;
	border-bottom: 0.5px solid #deafa7;
}

.pastry-container img{
	margin-top: 5px;
	padding-top: 5px;
	width:100%;
}

.pastry-info{
	width: 100%;
	margin-top: 5px;
}

.pastry-cost{
	width: 100%;
}

.pastry-cost h5{
	color: #000;
	font-size: 16px;
	font-family: "fenway-park-jf", sans-serif;
	text-align: center;
	padding-top: 30px;
	margin-right: 25px;
}
.pastry{
	font-size: 20px;
	font-family: "fenway-park-jf",sans-serif;
	text-align: center;
	padding-top: 5px;
	text-transform: none;
	letter-spacing: 3px;
	margin-top: 15px;
}

.description{
	font-size: 15px;
	color: #deafa7;
	align-content: center;
	text-align: center;
	padding-top: -20px;
}
/*Cakes Page*/
.cake-container{
	width: 100%;
	background: #deafa7;
	padding-top: 20px;
}

.cake-container nav{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.cake-container ul{
	list-style: none;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

.cake-container li{
	display: inline-block;

}

.cake-container a{
	display: block;
	font-size: 20px;
	color: #fff;
	padding: 20px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
}

.cake-container a:hover{
	text-decoration: none;
	color: #f5f5f5;
}


/*Cookies Page*/
.cookie-container{
	width: 100%;
	background: #aed5c5;
	padding-top: 20px;
}

.cookie-container nav{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.cookie-container ul{
	list-style: none;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

.cookie-container li{
	display: inline-block;

}

.cookie-container a{
	display: block;
	font-size: 20px;
	color: #fff;
	padding: 20px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
}

.cookie-container a:hover{
	text-decoration: none;
	color: #000;
}

/*Pies Page*/
.pie-container{
	width: 100%;
	background: #cad8c5;
	padding-top: 20px;
}

.pie-container nav{
	padding-left: 0;
	margin-bottom: 0;
	list-style: none
}

.pie-container ul{
	list-style: none;
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

.pie-container li{
	display: inline-block;

}

.pie-container a{
	display: block;
	font-size: 20px;
	color: #fff;
	padding: 20px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
}

.pie-container a:hover{
	text-decoration: none;
	color: #000;
}
/*Contact Page */
iframe{
	width:650px;
	height: 400px;
	margin-left: 25px;
}

.contact-description{
	font-size: 25px;
	color: #deafa7;
	align-content: center;
	text-align: center;
	padding-top: 20px;
}

.contact-social {
  margin-left: -15px;
  margin-top: 25px;
  padding-top: 25px;
}

.contact-social i {
  margin: 0 5px;
  padding: 0 5px;
  display: inline-block;
  color: #deafa7;
  font-size: 25px;
  position: relative;
  bottom: 20px;
 left: 5px;
}

.contact-social i:hover {
  color: #aed5c5;
}

/*Footer */
.footer-title{
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.footer-info{
	color: #fff;
	font-size: 16px;
	text-align: left;
	margin-top: -15px;
	padding-top: 10px;
}

.footer-info li{
	list-style: none;
	margin-left: -40px;
	padding-top: -15px;
}
footer{
	background: #deafa7;
	width: 100%;
	clear: both;
	margin-top: 5px;
}

.footer-title{
	font-size: 15px;
	color: #fff;
	font-family: "orator-std", monospace;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 5px;
}

.footer-info{
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
	margin-left: 0px;
	padding-top: 5px;
	padding-left: 0px
}

.footer-info li{
	list-style: none;
	margin-left: 0px;
	padding-top: 3px;
	text-decoration: none;
	font-size: 16px;
}

.footer-info li a{
	list-style: none;
	margin-top: 5px;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 14px;
	font-family: "omnes-pro", sans-serif;
}

.footer-info li a:hover{
	color: #000;
}

.footer-address{
	color: #fff;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: center;
}

.footer-contact{
	text-align: center;
	color: #fff;
	font-size: 15px;
}

.footer-contact li{
	text-decoration: none;
	list-style: none;
	display: inline-block;
	padding-left: 20px;
}

.footer-contact li span{
	color: #fff;
	font-style: 18px;
	font-family: "omnes-pro", sans-serif;
	text-align: center;
	letter-spacing: 1.5px;
}

.footer-contact i{
	margin: 0 5px;
  	padding: 0 5px;
  	display: inline-block;
  	color: #fff;
  	font-size: 18px;
}

 .footer-social {
  text-align: center;
  margin-top: 5px;
}

.footer-social i {
  margin: 10px 5px;
  padding: 5px 5px;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.footer-social i:hover {
  color: #000;
}

.copyright{
 	margin-bottom: 10px;
 	padding-top: 25px;
 	font-size: 16px;
 	font-family: "omnes-pro", sans-serif;
 	color: #fff;
 	letter-spacing: 1.5px;
 	margin-left: 25px;
 }

/*Icons*/
.fa-shopping-cart{
	float: right;
	font-size: 24px;
	display: inline-block;
	margin-left: 60px;
	padding-top: 40px;
	color: #deafa7;
}


/* End Icons*/

 
