  @import url("https://use.typekit.net/rky1oyp.css");

*{
	margin:0;
	height: 100%;
}

html, body{
	min-height: 100%;
}

body{
	width: 100%;
	margin:0 auto;
}

header{
	background: #f5f5f5;
	border-bottom: 0.5px solid #deafa7;
	padding-bottom: 0px;
	position: fixed;
	height: auto;
	z-index: 2;
	width: 100%;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo{
	float: left;
	padding: 10px 0;
	height: 100px;
	width: 120px;
	margin-left: 15px;
}

.main{
	float: right;
	margin-left: 10px;
	margin-top: 50px;
}

.main ul{
	margin-right: 35px;
	padding: 0;
	list-style: none;
}

.main li{
	display: inline-block;
	margin-left: 15px;
	padding-top: 25px;
}

.main a{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
}

.main a:hover{
	color: #deafa7;
	text-decoration: underline;
}

.main a:active{
	color: #deafa7;
	text-decoration: underline;
}

.img-container{
	background-image: url(https://images.pexels.com/photos/1028714/pexels-photo-1028714.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 25px;
}

.inner-container{
	text-align: center;
	position: absolute;
	width: 100%;
	color: #fff;
	height: auto;
	margin-top: 200px;
}

.inner-container h1{
	font-size: 50px;
	letter-spacing: 4px;
	text-align: center;
}

.inner-container p{
	font-size: 30px;
	letter-spacing: 8px;
	text-align: center;
}

.btn{
	background-color: #fff;
	color: #deafa7;
	font-size: 20px;
	font-weight: 400;
	width: 240px;
	padding: 10px 10px;
	border: 2px solid #deafa7;
	letter-spacing: 5px;
	margin-top: 10px;
}

.btn:hover{
	background-color: #deafa7;
	color: #fff;
	width: 240px;
	border: 2px solid #deafa7;
}

@media only screen and (max-width: 920px){
	.inner-container{
		margin-top: 100px;
	}
}

@media only screen and (max-width:540px){
	.inner-container{
		margin-top: 150px;
	}
	h1{
		font-size: 70px;
	}
}

/*Icons*/
.fa-shopping-cart{
	float: right;
	font-size: 24px;
	display: inline-block;
	margin-left: 60px;
	padding-top: 40px;
	color: #deafa7;
}


/* End Icons*/

#section2{
	background-color: #fff;
	width: 100%;
	height: 300px;
	margin: 0 auto;
}

h2{
	font-size: 30px;
	font-family: "fenway-park-jf",sans-serif;
	font-weight:500;
	text-align: center;
	padding-top: 5px;
	text-transform: none;
	letter-spacing: 4px;
	margin-top: 15px;
	padding-top: 25px;
}

h3{
	font-size: 20px;
	font-family: "fenway-park-jf",sans-serif;
	text-align: center;
	padding-top: 5px;
	text-transform: none;
	letter-spacing: 2px;
	margin-top: 15px;
	padding-top: 25px;
}

.container{
	width: 100%;
	height: 70px;
	padding-top: 20px;
	margin-top: 15px;
}
.col-md-6{
	width: 50%;
	align-content: center;
	vertical-align: middle;
}

.about{
	height: 450px;
	width: 450px;
}

.info{
	font-size: 20px;
	color: #deafa7;
	text-align: center;
	letter-spacing: 4px;
	align-content: center;
	padding-top: 25px;
	margin-top: 25px;
}
#section3{
	width: 100%;
	margin:0 auto;
	height: 490px;
}

h4{
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 15px;
	margin-left: -25px;
	padding-top: 5px;
}
.col-md-12{
	width: 100%;
	background-color: #deafa7;
	border: 3px solid #fff;
}

.col-lg-4{
	width: 33.33333%;
}

.btn-shop{
	background-color: #deafa7;
	color: #fff;
	font-size: 20px;
	width: 240px;
	padding: 5px 5px;
	letter-spacing: 5px;
	margin-top: 10px;
	position: relative;
	bottom: 30px;
	left: 0px;
}

.btn-shop:hover{
	color: #fff;
	background-color: #cad8c5;
	text-decoration: none;
}

.cake-bg{
	height: 400px;
}

.cake-bg img{
	height: 400px;
	width:100%;
	padding-top: 5px;
}

.cookie-bg{
	height: 400px;
}

.cookie-bg img{
	height: 400px;
	width:100%;
	padding-top: 5px;
}

.pie-bg{
	height: 400px;
}

.pie-bg img{
	height: 400px;
	width:100%;
	padding-top: 5px;
}

/*All Pages */
.items{
	text-align: center;
	vertical-align: middle;
	position: absolute;
	right: 580px;
}

.items ul{
	margin-right: -25px;
	padding: 0;
	list-style: none;
}

.items li{
	display: inline-block;
	margin-left: 40px;
	padding-top: 35px;
	padding-left: 0px;
	text-align: center;
}

.items a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}

.items a:hover{
	color: #000;
	text-decoration: underline;
}

#products{
	width:100%;
	height: 680px;
	border-bottom: 0.75px solid #deafa7;
	position:relative;
	top: 50px;
}

.pastry-container{
	align-content: center;
	padding-top: 15px;
	height: 100px;
}
img{
	width: 300px;
	height: 400px;
	margin-top: 5px;
	padding-top: 5px;
}

.pastry-info{
	width: 300px;
	margin-top: -10px;
	height: 40px;
}

.pastry-cost{
	width: 300px;
	margin-top: -15px;
	margin-left: -15px;
	height: 40px;
}

.pastry-cost h5{
	color: #000;
	font-size: 16px;
	font-family: "fenway-park-jf", sans-serif;
	text-align: center;
	padding-top: 30px;
	margin-right: 25px;
}
.pastry{
	font-size: 20px;
	font-family: "fenway-park-jf",sans-serif;
	text-align: center;
	padding-top: 5px;
	text-transform: none;
	letter-spacing: 3px;
	margin-top: 15px;
}

.description{
	font-size: 15px;
	color: #deafa7;
	align-content: center;
	text-align: center;
	padding-top: -20px;
}
input[type=text] {
  float: right;
  width: 30px;
  height: 25px;
  padding: 3px 0 0 0;
  text-align: center;
  border: 0.5px solid #deafa7;
  border-radius: 2px;
  position: relative; 
  bottom:25px;
  right: 55px;
}
input.qtyplus {
	width:25px;
	height:25px;
	background-color: #deafa7;
	color: #fff;
	position: relative; 
  	bottom:25px;
  	left: 106px;
  	border: none;
  	border-radius: 2px;
  	padding: 5px 5px;
}
input.qtyminus { 
	width:25px;
	height:25px;
	background-color: #deafa7;
	color: #fff;
	position: relative; 
  	bottom:25px;
  	left: 84px;
  	border: none;
  	border-radius: 2px;
  	padding: 5px 5px;
}

/*Cakes Page */
.cake-container{
	background-color: #deafa7;
	opacity: 0.5;
	height: 85px;
	width: 100%;
	position:relative;
	top:80px;
}

.cake-container a:hover{
	color: #000;
	text-decoration: none;
}

.cart{
	width: 300px;
	margin-top: 5px;
	padding-top: 25px;
	height: 40px;
}

.btn-cart{
	background-color: #deafa7;
	color: #fff;
	font-size: 15px;
	width: 400px;
	padding: 5px 10px;
	border-radius: 2px;
	letter-spacing: 5px;
	margin-top: 10px;
	margin-left: 25px;
	position: relative;
	bottom: 0px;
	left: 0px;
	cursor: pointer;
}

.btn-cart:hover{
	color: #fff;
	background-color: #cad8c5;
	text-decoration: none;
}
/*Cookies Page */
.cookie-container{
	background-color: #aed5c5;
	opacity: 0.5;
	height: 85px;
	width: 100%;
	position:relative;
	top:80px;
}

.cookie-container a:hover{
	color: #000;
	text-decoration: none;
}

/*Pie Page */
.pie-container{
	background-color: #cad8c5;
	opacity: 0.5;
	height: 85px;
	width: 100%;
	position:relative;
	top:80px;
}

.pie-container a:hover{
	color: #000;
	text-decoration: none;
}

/*Contact Page */
iframe{
	width:650px;
	height: 400px;
	margin-left: 25px;
}

.contact-description{
	font-size: 25px;
	color: #deafa7;
	align-content: center;
	text-align: center;
	padding-top: 10px;
	height:auto;
}

.contact-social {
  margin-left: -15px;
  margin-top: 25px;
  padding-top: 25px;
}

.contact-social i {
  margin: 0 5px;
  padding: 0 5px;
  display: inline-block;
  color: #deafa7;
  font-size: 25px;
  position: relative;
  bottom: 20px;
 left: 5px;
}

.contact-social i:hover {
  color: #aed5c5;
}
/*Footer */
.footer-title{
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}

.footer-info{
	color: #fff;
	font-size: 16px;
	text-align: left;
	margin-top: -15px;
	padding-top: 10px;
	height: auto;
}

.footer-info li{
	list-style: none;
	margin-left: -40px;
	height:auto;
	margin-top: 5px;
}
footer{
	background-color: #deafa7;
	height: 260px;
	width: 100%;
	clear: both;
	position: relative;
	bottom: -10px;
}

footer, .footer-info{
	list-style: none;
	margin-top: -25px;
}

.footer-info li a{
	list-style: none;
	margin-top: 5px;
	color: #fff;
	padding-top: 5px;
	text-align: center;
	letter-spacing: 1px;
}

.footer-address{
	color: #fff;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: left;
	margin-top: -25px;
}

.footer-contact{
	color: #fff;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: left;
	margin-top: 0px;
}

 .footer-social {
  margin-left: -15px;
  margin-top: 5px;
}

.footer-social i {
  margin: 0 5px;
  padding: 0 5px;
  display: inline-block;
  color: #fff;
  position: relative;
  bottom: 20px;
 left: 5px;
}

.footer-social i:hover {
  color: #cad8c5;
}

.copyright{
 	margin-bottom: 10px;
 	padding-top: 15px;
 	font-size: 16px;
 	color: #fff;
 	position: relative;
 	bottom: -130px;
 	letter-spacing: 1.5px;
 }
